body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    height: 100vh;
}

.sns-icons {
    margin-top: 40px;
    justify-content: space-between;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

li:not(:last-child) a {
    margin-right: 80px;
}

a {
    text-decoration: none;
}

svg {
    fill: #000;
    stroke: none;
    transition: 0.2s;
}

svg:hover {
    fill: #f050f8;
    transform: scale(1.2);
}

.title {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 40px;
}

.color-text {
    color: #5840ff;
    font-size: 1.1em;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.intro p {
    text-align: justify;
    font-size: 1.8em;
    font-weight: 400;
    width: 1000px;
}

.projects {
    height: 100px;
}

.about-me {
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

footer p {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .sns-icons {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    li:not(:last-child) a {
        margin-right: 20px;
    }

    .title {
        font-size: 1.2em;
        margin-top: 20px;
    }

    .color-text {
        font-size: 1em;
    }

    .intro p {
        font-size: 1.2em;
        width: 100%;
    }
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #5840ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 10px;
    opacity: 0;
    transition: opacity 1s;
}

.hidden {
    display: none;
} */