@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(45deg, #8357ff, #361bff, #1b5aec, #009AD9 99%);
  background-size: 200% 200%;
  animation: gradient 10s ease-in infinite;
  color: white;
  font-size: 1.2em;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  color: white;
  font-size: 0.8em;
}

.profile-image {
  max-width: 100%;
  border-radius: 8px;
  width: 450px;
  height: 550px;
  object-fit: cover;
  margin: auto;
  display: block;
}

.title-home {
  font-size: 4em;
  font-weight: 900;
  color: #ccf381;
  text-align: left;
  line-height: 1;
  margin-bottom: 0.7em;
}

.parragraph,
.parragraph-project {
  padding: 0;
  font-size: 1.3em;
  line-height: 2;
  margin-bottom: 1.8em;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links>a {
  padding: 0px 40px 0px 0px;
  color: black;
  transition: 0.2s ease-in-out;
}

.social-links>a:hover {
  color: #ccf381;
}

/* PROJECTS */
.title-projects {
  font-size: 3em;
  font-weight: 900;
  color: #ccf381;
  text-align: center;
}

.project-image {
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.project-image:hover {
  transform: scale(1.02);
}

.project-image img {
  width: 500px;
  height: 380px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.project-name>a:hover {
  color: #ccf381;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags img {
  width: 40px;
  height: 50px;
  margin-right: 40px;
}


@media (max-width: 768px) {
  .title-home {
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
    margin-top: -20px !important;
  }

  .social-links {
    justify-content: space-around;
    padding-left: 35px;
  }

  .profile-image {
    height: auto;
    width: 100%;
    max-width: 450px;
    margin-top: -20px !important;
    padding: 0px 10px 0px 10px;
    border-radius: 28px;
  }

  .title-projects {
    font-size: 2.5em;
  }

  .project-name {
    text-align: center;
  }

  .project-image {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  .project-image img {
    width: 90%;
    max-width: 500px;
    margin: 0px 40px 0px 40px;
  }

  .parragraph {
    padding: 0px 10px 0px 10px;
    font-size: 1em;
    text-align: center;
  }

  .parragraph-project {
    padding: 0px 20px 0px 20px;
    font-size: 1em;
    text-align: center;
  }

  .tags {
    justify-content: center;
  }

  .tags img {
    width: 40px;
    margin-right: 20px;
    margin-left: 25px;
  }
}

@media (max-width: 390px) {
  .project-image img {
    width: 90%;
    height: 100%;
    margin: 0px 20px 0px 20px;
  }

  .profile-image {
    text-decoration: none;
  }
}