/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
	--violet: #5840FF;
	--pink: #F050F7;
	--darkpink: #BA01D4;
	--green: #15F0B8;
}

body {
	font-family: 'SF UI Text', sans-serif !important;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--violet);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: white;
	font-size: 20px;
	line-height: 1.7;
	background: linear-gradient(45deg, #009AD9, #1B5AEC, #361BFF, #8357FF);
	background-size: 200% 200%;
	animation: gradient 10s ease-in infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

main {
	padding: 3em 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.left,
.right {
	width: 100%;
	max-width: 600px;
}

@media(max-width: 1024px) {
	main {
		flex-direction: column;
	}

	.left,
	.right {
		width: 95%;
		padding: 0 20px;
	}
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: white;
	line-height: 1;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
	text-decoration: underline;
}

a {
	padding: 0px 20px 0px 0px;
	color: #ccf381;
}

a:hover {
	color: #333333;
}

.social-links {
	display: flex;
	justify-content: start;
	align-items: center;
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.name {
	color: var(--violet) !important;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bolder;
}

.home-parragraph {
	padding: 20px 0px;
	font-size: 1.2em;
	line-height: 2;
	text-align: left;
}

.profile-img {
	width: 400px;
	height: 500px;
	object-fit: cover;
	margin-top: 40px !important;
	margin: auto;
	display: block;
	background-size: cover;
	background-position: center;
	transition: ease-out 0.2s;
}

.profile-img:hover {
	transform: scale(1.03);
}

ul {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

ul li {
	/* width: calc(50% - 1rem); */
	margin: 0 auto;
}

ul li * {
	text-decoration: none;
	transition: 0.2s ease;
}

ul li img {
	margin-bottom: 0.5rem;
	border-radius: 12px;
}

ul li a {
	display: block;
}

.title {
	margin: 0;
	color: white;
	text-align: left;
	line-height: 1;
	font-size: 3em;
	font-weight: 900;
	line-height: 1.1;
	letter-spacing: -0.03em;
	padding: 20px 0px;
}

.title-home {
	font-family: 'SF UI Text', sans-serif !important;
	font-size: 4em;
	font-weight: 900;
	color: #ccf381;
	text-align: left;
}

.date {
	margin: 0;
	color: white;
}

ul li a:hover h4,
ul li a:hover .date {
	color: rgb(var(--accent));
}

ul a:hover img {
	box-shadow: var(--box-shadow);
}

@media (max-width: 720px) {
	ul {
		gap: 0.5em;
	}

	ul li {
		width: 100%;
		text-align: center;
	}
}

.proyect-img {
	width: 500px;
	height: 288px;
}

.point {
	color: white
}