---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>👨🏻‍💻 <span class="title-home"> Hola, mundo! </span></h1>
      <p class="home-parragraph">
        Bienvenido/a a mi portfolio personal, soy<span class="name"> Alejandro Hdez</span> , técnico
        superior en <a href="https://todofp.es/que-estudiar/loe/informatica-comunicaciones/des-aplicaciones-web.html" target="_blank" class="education">Desarrollo de Aplicaciones Web</a>, y en Automatización y Robótica
        Industrial. <br>Aquí podrás encontrar información sobre algunos de mis
        proyectos y habilidades en el campo del desarrollo web, información de contacto y distintos enlaces a linkedin y github.
      </p>
    </main>
    <Footer />
  </body>
</html>
